* {
    background-color: black;
}


#wrapper {
    margin: 0 auto;
}

#daftpunk {
    width: 2420px;
    padding-bottom: 50px;
}

h1 { 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.title {
    color: white;
    position: absolute;
    top: 100px;
    left: 180px;
    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent; 
}


.title2 {
    color: white;
    position: absolute;
    top: 200px;
    left: 215px;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent; 
}

.title3 {
    position: relative;
    top: 100px;
    left: 300px;
    font-size: 45px;
    display: inline;

}

.about {
    position: relative;
    top: 10px;
    left: 300px;
    font-size: 40px;
    display: inline;
}


figcaption {
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
}

hr {
    width: 1820px;
    position: absolute;
    left: 308px;
}


#hr1 {
    position: absolute;
    top: 340px;
    width: 1820px;
    left: 310px;
    top: 1715px;
}


p {
    color: white;
    width: 1820px;
    position: absolute;
    left: 310px;
    font-size: 20px;
    padding-top: 20px;
}

.container2 {
    width: 1860px;
}

.image-container {
    position: relative;
    top: 470px;
    display: inline-block;
    padding-left: 100px;
    padding-right: 100px;
}


.album {
    height: 250px;
    width: 250px;
}



#fig1 {
    position: relative;
    right: 37px;
}


#fig2 {
    position: relative;
    right: 100px;
}

footer {
    color: white;
    position: relative;
    top: 600px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    float: right;
}